html {
  max-height: 500px;
  font-family: Georgia, serif;
}

.banner-text {
  color: #fff;
  background-color: #495562;
}

.btn-ghost {
  border-color: #97a49b;
  color: #fff;
}

.btn-ghost:hover{
  background-color: #efefef;
  border-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 38em) {

.btn-ghost {
  float: right;
}

}

@media only screen and (min-width: 60em) {

.banner {
  position: relative;
  background-image: linear-gradient(rgba(73, 85, 98, 0););
}

.banner-text {
  position: absolute;
  bottom: -35px;
  background-color: transparent;
}

.btn-ghost{
  border-color: #fff;
}
}
