html {
  font-family: Georgia, serif;
}

.banner-text {
  color: #fff;
  background-color: #495562;
}

.btn-ghost {
  border-color: #97a49b;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #efefef;
  border-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .btn-ghost {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
    max-height: 500px;
    overflow: hidden;
  }

  .banner-text {
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    width: 100%;
  }

  .btn-ghost {
    border-color: #fff;
    float: right;
  }

}
